.navbar{
    display: flex;
    justify-content: space-between;
    .nav-list{
        
        display: flex;
        align-items: center;
        .nav-link{
            margin: 0px 10px;
            text-decoration: none;
            font-size: 24px;
            .cart-icon{
                width: 35px;
            }
            cursor: pointer;            
          }
        
      }

  }
  .navbar-layout{
      position: relative;
  .cart-dropdown-layout{
    display: flex;
    justify-content: flex-end;
}  
  }
