.homepage{
    margin-top: 50px;
}
.homepage-row{
    display:flex;
    margin: auto 45px;
}

.homepage-row:first-child{ 
    .directory-layout{
        width: 33.33%;
        margin: 8px 8px;
    }
}
.homepage-row:last-child{
    grid-template-columns: 5fr 5fr;

    .directory-layout{
        width: 50%;
        margin: 8px 8px;
    }
    .menu-item{
        width: 300px;
    }
}
.directory-layout{
    border: solid 1px;
    height: 300px;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    
}
.directory-menu{
    height: 300px;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    background-position: center;
    background-size: cover;
    transition: transform 1.5s ease;
}

.menu-item{
    border-radius: 2px;
    width: 155px;
    padding: 10px;
    background: #fcf7f7ab;
    transition: none;
    
}
.menu-item:hover{
    background: #ffffffcc;
}
.directory-menu:hover{
    transform: scale(1.2);
}