@font-face {
    font-family: Open-Sans-Condensed !important;
    src: url('./assets/font/OpenSansCondensed-Light.ttf');
  }
body{
    font-family: 'Open-Sans-Condensed', sans-serif !important;
    width: 90%;
    margin: auto;
}
.small-icon{
  width: 20px !important;
  cursor: pointer;
}

*{
  box-sizing: border-box;
}
.error-text{
  color: red;
  font-style: italic;
}
@media (max-width: 376px){
  *{
    font-size: 80%;
  }
}

@media (max-width: 769px){
  *{
    font-size: 90%;
  }
}